* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #fff;
  --text-color: #0f172a;
  --main-color: #6b7280;
  --other-color: #334155;
  --big-font: 4.3rem;
  --h2-font: 2.2rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

/* Header section design */
header {
  background-color: #4a647e;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 11%;
  border-bottom: 1px solid #f7f9fb;
  transition: all 0.45s ease;
}

header.sticky {
  background: var(--other-color);
  padding: 0.875rem 11%;
}

.logo img {
  width: 8rem;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: var(--p-font);
  color: var(--other-color);
  font-weight: 400;
  padding: 0.625rem 1.5625rem;
  margin: 0 0.3125rem;
  background: transparent;
  border-radius: 1.875rem;
  transition: all 0.45s ease;
}

.navbar a:hover,
.navbar a.active {
  background: #f7f9fb;
  color: var(--other-color);
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  height: 3.125rem;
  width: 3.125rem;
  background: #f7f9fb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--other-color);
  font-size: 1.375rem;
  margin-right: 1.5625rem;
  margin-left: 0.625rem;
  transition: all 0.45s ease;
}

.icons i:hover {
  transform: scale(0.9);
}

#menu-icon {
  color: var(--other-color);
  font-size: 2.0625rem;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
