:root {
  /* Colores */
  --color-white: #fff;
  --color-gray-dark: rgb(64, 64, 64);
  --color-gray-medium: rgb(120, 120, 120);
  --color-gray-light: rgb(135, 135, 135);
  --color-blue-primary: rgb(65, 105, 255);
  --color-blue-hover: rgb(102, 136, 240);
  --color-blue-dark: rgb(15, 46, 138);
  --color-bg-light-blue: #edf2fb;
  --color-bg-medium-blue: #c7d5f1;
  --color-bg-footer: #d9e5f4;

  /* Espaciado */
  --spacing-xs: 0.3125rem;
  --spacing-sm: 0.625rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.875rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 3.125rem;

  /* Bordes redondeados */
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 10px;
  --border-radius-full: 50%;
  --border-radius-pill: 30px;

  /* Transiciones */
  --transition-default: 0.3s ease-in-out;
  --transition-medium: 0.4s ease-in-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--color-gray-dark);
  background-color: var(--color-white);
  min-height: 100vh;
  scroll-behavior: smooth;
}

.navigation-bar {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: var(--transition-medium);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  max-width: 90%;
  margin: 0 auto;
}

.logo-area {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: auto;
  height: 40px; /* Ajusta esto según el tamaño deseado del logo */
}

.logo-area img {
  width: 60%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de altura */
  object-fit: contain; /* Asegura que toda la imagen se muestre */
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav-links {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0 var(--spacing-md);
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: var(--transition-default);
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Remove default list styling */
  gap: var(--spacing-lg); /* Add space between nav items */
}

.nav-actions {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: var(--color-blue-primary);
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-gray-dark);
  transition: var(--transition-default);
}

.cart-link:hover {
  color: var(--color-blue-primary);
}

.cart-link svg {
  width: 24px;
  height: 24px;
}

/* Estilos para el menú móvil */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  background-color: var(--color-white);
  width: 250px;
  padding: var(--spacing-lg);
  transition: transform var(--transition-medium);
}

.mobile-nav.active {
  transform: translateX(100%);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-medium),
    visibility var(--transition-medium);
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Media queries para responsividad */
@media screen and (max-width: 768px) {
  .nav-container {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
    order: -1; /* Mueve el menú hamburguesa al principio en dispositivos móviles */
  }

  .nav-actions {
    order: 2; /* Mueve el carrito al final en dispositivos móviles */
  }
}

@media screen and (max-width: 480px) {
  .nav-container {
    flex-direction: column;
    align-items: stretch;
    padding: var(--spacing-xxs);
  }

  .logo-area {
    width: 50%; /* El logo ocupa la mitad del ancho en pantallas muy pequeñas */
  }

  .logo-area img {
    width: 100px;
    height: 30px;
  }
}
